@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
	--fontFamilyNav: 'Ubuntu', sans-serif;
	--fontFamily: 'Roboto', sans-serif;
	--white: #fff;
	--headerColor: #28445C;
	--fontSize: 16px;
	--green: #8BB03E;
	--red: #CA4526;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: var(--fontSize);
	font-family: var(--fontFamily);
}

.container {
	width: 80%;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h3 {
	font-size: 24px;
}

button {
	padding: 15px 20px;
	border-radius: 30px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	margin: 30px 0;
	color: var(--white);
	display: inline-block;
}

a:hover {
	cursor: pointer;
}

/*********************************************
header
***********************************************/
header {
	background: var(--headerColor);
	color: var(--white);
}

header .container {
	display: flex;
	justify-content: space-between;
}

header .logo {
	font-size: 10px;
	padding: 20px 0;
}

header .logo:hover {
	cursor: pointer
}

header .nav,
header .social {
	display: flex;
	align-items: center;
}

header .nav a {
	color: var(--white);
	padding-right: 15px;
	font-size: 16px;
	font-family: var(--fontFamilyNav);
}

header .social i {
	padding: 0 10px;
}

header .social i:nth-child(2) {
	border-right: 1px solid var(--white);
	padding-right: 30px;
}

header .social i:nth-child(3) {
	padding-right: 3px;
}

header .social i:last-child {
	padding: 0;
}

header .social i:hover,
header .nav a:hover {
	cursor: pointer;
}

/*********************************************
top
***********************************************/

.top {
	background-image: url('img/bgHeader.png'), linear-gradient(to right, rgba(40, 68, 92, 1), rgba(48, 182, 229, 1));
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--white);
}


.top .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 70px 0;
	/*color: var(--white);*/
}

.top h1 {
	font-size: 48px;
	padding-bottom: 30px;
}

.top article {
	flex: 0 0 50%;
}

.top img {
	flex: 0 0 40%;
	margin-bottom: -5px;
}

/*********************************************
software
***********************************************/
.software {
	display: flex;
	flex-wrap: wrap;
	color: var(--white);
}

.software article {
	flex: 0 0 49%;
	position: relative;
}

.software img {
	width: 100%;
}

.software article:nth-child(3) {
	background: lightgray;
	color: var(--headerColor);
}

.software article:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	top: 100px;
	z-index: 5;

}

.software article:nth-child(2) p,
.software article:nth-child(2) h3 {
	padding: 0 0 0 100px;
}

.software article:nth-child(3) p,
.software article:nth-child(3) h3 {
	padding: 0 50px;
}

.software article:nth-child(2) .text {
	position: absolute;
	top: 130px;
	z-index: 10;
}

.software article:nth-child(2) img {
	position: absolute;
}

.software article:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

}

.software article:nth-child(4) img {
	height: 100%;
}

/*********************************************
benefits
***********************************************/
.benefits {
	padding: 50px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	background-image: url('img/bgHeader1.png'), linear-gradient(to right, rgba(48, 182, 229, 1), rgba(40, 68, 92, 1));
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: space-around;

}

.benefits h2,
.benefits h5 {
	flex: 0 0 80%;
	color: var(--white);
	padding-bottom: 20px;
}

.benefits h5 {
	font-size: 18px;
}

.benefits h5 {
	font-size: 42;
}

.benefit p {
	text-align: center;
}

.benefits article {
	flex: 0 0 32%;
	background: var(--white);
	color: var(--headerColor);
	padding: 50px 20px;
	margin-bottom: 50px;
}

.benefits article h4 {
	padding: 25px 0;
}

.benefits article .fa-thumbs-up {
	background: var(--green);
	border-radius: 50%;
	padding: 25px;
}

.benefits article i {
	color: var(--white);
	font-size: 2.5rem;
}

.benefits article .fa-clock {
	background: var(--red);
	border-radius: 50%;
	padding: 25px;
}

.benefits article .fa-lock {
	background: #05398B;
	border-radius: 50%;
	padding: 25px;
}

/*********************************************
system
***********************************************/
.system {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: var(--headerColor);
	justify-content: space-between;
}

.system img {
	flex: 0 0 45%;
	width: 600px;
}

.system article {
	flex: 0 0 40%;
}

.system ul li::before {
	content: "\2022";
	color: var(--red);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.system p {
	margin: 16px 0;
}

.system button {
	background: var(--green);
}

/*********************************************
symc
***********************************************/
.sync {
	display: flex;
	flex-wrap: wrap;
}

.sync img {
	width: 100%;
	height: 100%;
}

.sync article {
	flex: 0 0 50%;
}

.sync article:nth-child(1) {
	padding: 0 10%;
	background-image: linear-gradient(to right, rgba(40, 68, 92, 1), rgba(48, 182, 229, 1));
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.sync article:nth-child(1) h3,
.sync article:nth-child(1) p {
	margin-bottom: 15px;

}

.sync article:nth-child(4) {
	color: var(--headerColor);
	background: lightgray;
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.sync article:nth-child(4) p {
	margin: 25px 0;
}

.sync article button {
	background: var(--green);
	margin-right: 5px;
}

.sync article button:last-child {
	background: var(--red);
}

/*********************************************
footer
***********************************************/
footer {
	background: var(--headerColor);
	text-align: center;
	padding: 50px 0;
}

footer .nav {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

footer .nav a {
	font-size: 16px;
	color: var(--white);
	margin-right: 20px;
}
footer .aboutMe{
	color: var(--white);
	font-size: 10px;
	text-align: center;
	margin-top: 10px;
}

/*****************************************
responsive
**********************************************/
@media(max-width:1024px) {

	.top article {
		flex: 0 0 90%;
		margin-bottom: 50px;
	}

	.top img {
		flex: 0 0 100%;
		margin-bottom: -5px;
	}

	.software article:nth-child(2) .text {
		top: 10px;
	}

	.system img {
		width: 440px;
	}

	header .nav a {
		font-size: 12px;
	}

	footer .nav a {
		font-size: 12px;
	}
}

@media(max-width:768px) {
	header .container {
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
	}

	header .nav {
		margin: 20px 0;
	}

	.software article {
		flex: 0 0 100%;
	}

	.software article:nth-child(2) {
		display: none;
	}

	.software article:nth-child(3) {
		padding: 40px 0;
	}

	.benefits article {
		flex: 0 0 80%;
	}

	.system img {
		flex: 0 0 100%;
	}

	.system article {
		flex: 0 0 100%;
		padding: 50px 10%;
	}

	.sync article {
		flex: 0 0 100%;
	}

	.sync article:nth-child(1),
	.sync article:nth-child(4) {
		padding: 50px 10%;
	}
}

@media(max-width:576px) {
	header .nav {
		flex-direction: column;
	}

	.benefits article {
		flex: 0 0 95%;
	}

	header .nav {
		margin: 10px 0 20px 0;
	}

	footer .nav {
		flex-direction: column;
	}

	footer .nav li {
		margin-bottom: 10px;
	}

}
